<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="col-7">
        <p class="alert alert-secondary text-center">Tài xế</p>
      </div>
      <ng-container *ngFor="let item of mangGhe; let index = index">
        <app-ghe [ghe]="item" (chonGhe)="themGhe($event)"></app-ghe>
        <br *ngIf="(index + 1) % 4 === 0" />
      </ng-container>
    </div>
    <div class="col-md-4">
      <h3>Danh sach ghe</h3>
      <div *ngFor="let item of mangGheChon; let index = index">
        Ghế: {{ item.TenGhe }} - Giá: ${{ item.Gia }}
        <span
          class="text-danger"
          style="cursor: pointer"
          (click)="huyGhe(index)"
          >[Hủy]</span
        >
      </div>
    </div>
    <div class="col-md-4">
      <h5>Tổng Tiền: ${{ tongTien() }}</h5>
    </div>
  </div>
</div>
